body {
    margin: auto;
    width: 800px;
    background: rgb(135, 135, 214);
    

}
.head{
font-size: 6rem;
text-align: center;
margin-top:4rem;
color: #000000a3;

}
.scroll {
    height: 735px;
    overflow: auto;  
}

.contentLine{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.1rem;
    border: 2px blue solid;
    background: wheat;
    box-shadow: 10px 10px;
    min-height: 2rem;
    border-radius: 25px;
    }
.userName {
    height: 20px;
    width: 100px;
    font-size: 1rem;
}
.Name{
    color: #65612e;
    font-size: 1.3rem;
    text-decoration-line: underline;
    padding-left: 11px;

}
.message{
    color: #f11313;
    font-size: 2rem;
    padding-left: 12px;
    
}
.userMessage {
    height: 20px;
    width: 700px;
    font-size: 1rem;
}

.textEnter {
    position: fixed;
    bottom: 10px;
}

.wrapper{
    margin-bottom: 100px;
}
@media only screen and (max-width: 360px) {
    body {
       
        margin: auto;
    width: 360px;
    background: rgb(52, 52, 226);
    }
    .contentLine{
        display: flex;
        flex-direction: row;
        margin-bottom: 1.1rem;
        border: 2px blue solid;
        background: wheat;
        box-shadow: 10px 10px;
        min-height: 2rem;
        border-radius: 25px;
        }
    
.userName {
    height: 20px;
    width: 60px;
    font-size: 1rem;
}

.userMessage {
    height: 20px;
    width: 200px;
    font-size: 1rem;
}

    .head{
        font-size: 3rem;
        text-align: center;
        margin-top:2rem;
        color: #000000a3;
    }
    .name {
  
        width: 80px;
        font-size: 1rem;
    }
    .message {

        width: 200px;
        font-size: 1rem;
    }
    .scroll {
        height: 580px;
        overflow: scroll;  
    }
 
}